.FormLogin {
    width: 40%;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.border-style {
    border: none;
    outline: none;
    border-bottom: solid 1px rgb(48, 47, 47);
    outline-color: rgb(0, 0, 0);
    padding-top: 40px;
    width: 75%;
}

.border-style:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 0.616);
}

.password {
    padding-top: 12.5px;
}

.transitionL {
    width: 50%;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 25%;
}

.buttonLogin, .buttonCadastro {
    width: 50%;
    height: 50px;
    outline: none;
    border: solid 1px #40E0D0;
    font-size: 15px;
}

.buttonLogin {
    background: #40e0d0;
    color: #fafafa;
    font-weight: bold;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.buttonCadastro {
    background: #fafafa;
    color: #000000;
    font-weight: bold;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.link {
    font-style: none;
    text-decoration: none;
    color: #000000;
}

.formL{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding-bottom: 10px;
}

.buttonE {
    margin-top: 90px;
    background: #40E0D0;
    color: #fafafa;
    font-weight: bold;
    border-radius: 7px;
    width: 30%;
    height: 45px;
    outline: none;
    border: solid 1px #40E0D0;
    font-size: 15px;
}

.footerL {
    padding: 5px;
    width: 40%;
    position: fixed;
    margin: auto;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    color: #000000;
}