.home {
    height: 100vh;
}

.buttonH {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background: #40E0D0;
    border-radius: 7px;
    width: 10%;
    height: 42px;
}

.botaoH {
    background: #40E0D0;
    color: #fafafa;
    font-weight: bold;
    outline: none;
    border: solid 1px #40E0D0;
    font-size: 17px;
    font-family: 'Segoe UI';
    width: 100%
}

.mensagem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.text {
    font-size: 24px;
}

.c {
    margin-bottom: 15px;
}